*
{
margin: 0;
padding: 0;
}


#page1

{
position: absolute;
background-color: red;
height: 100%;
width: 100%;
}


#listpics li
{
background-image: url(http://www.steves-digicams.com/sdc-classic/qv2300/samples/07220016.jpg);
}