@font-face
{
font-family: skarp;
src: url(fonts/skarp.ttf);
}

@font-face
{
font-family: neue;
src: url(fonts/neue.ttf);
}


@font-face
{
font-family: universe;
src: url(fonts/universe.ttf);
}

@font-face
{
font-family: anders;
src: url(fonts/anders.ttf);
}

@font-face
{
font-family: caviar;
src: url(fonts/caviar.ttf);
}

@font-face
{
font-family: rb;
src: url(fonts/rb.otf);
}

@font-face
{
font-family: fraction;
src: url(fonts/fraction.otf);
}

@font-face
{
font-family: bebasbook;
src: url(fonts/bebasbook.ttf);
}

@font-face
{
font-family: bebaslight;
src: url(fonts/bebaslight.ttf);
}

@font-face
{
font-family: bebasregular;
src: url(fonts/bebasregular.ttf);
}

@font-face
{
font-family: bebasthin;
src: url(fonts/bebasthin.ttf);
}

@font-face
{
font-family: bebasbold;
src: url(fonts/bebasbold.ttf);
}

@font-face
{
font-family: simplifica;
src: url(fonts/simplifica.ttf);
}

@font-face
{
font-family: codelight;
src: url(fonts/codelight.otf);
}

@font-face
{
font-family: codebold;
src: url(fonts/codebold.otf);
}

@font-face
{
font-family: neoulight;
src: url(fonts/neoulight.ttf);
}

@font-face
{
font-family: neoubold;
src: url(fonts/neoubold.ttf);
}

@font-face
{
font-family: veron;
src: url(fonts/veron.ttf);
}


